<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.genebank.genedatabank/menu.application.title">
        <item view="User.list" title="msg://com.genebank.genedatabank.view.user/UserListView.title"/>
        <item view="Taxonomy.list" title="msg://com.genebank.genedatabank.view.taxonomy/taxonomyListView.title"/>
        <item view="Pasaport.list" title="msg://com.genebank.genedatabank.view.pasaport/pasaportListView.title"/>
        <item view="Deposit.list" title="msg://com.genebank.genedatabank.view.deposit/depositListView.title"/>
        <item view="SysFile.list" title="msg://com.genebank.genedatabank.view.sysfile/sysFileListView.title"/>
    </menu>
    <menu id="settings" description="msg://com.genebank.genedatabank/menu_config.settings.description"
          title="msg://com.genebank.genedatabank/menu_config.settings.title">
        <menu id="settehnic" description="msg://com.genebank.genedatabank/menu_config.settehnic.description"
              title="msg://com.genebank.genedatabank/menu_config.settehnic.title">
            <item view="Aegisstat.list" title="msg://com.genebank.genedatabank.view.aegisstat/aegisstatListView.title"/>
            <item view="Collsrc.list" title="msg://com.genebank.genedatabank.view.collsrc/collsrcListView.title"/>
            <item view="Historic.list" title="msg://com.genebank.genedatabank.view.historic/historicListView.title"/>
            <item view="Georefmeth.list"
                  title="msg://com.genebank.genedatabank.view.georefmeth/georefmethListView.title"/>
            <item view="Acceconf.list" title="msg://com.genebank.genedatabank.view.acceconf/acceconfListView.title"/>
            <item view="Mlsstat.list" title="msg://com.genebank.genedatabank.view.mlsstat/mlsstatListView.title"/>
            <item view="Sampstat.list" title="msg://com.genebank.genedatabank.view.sampstat/sampstatListView.title"/>
            <item view="Culturecateg.list"
                  title="msg://com.genebank.genedatabank.view.culturecateg/culturecategListView.title"/>
            <item view="Curators.list" title="msg://com.genebank.genedatabank.view.curators/curatorsListView.title"/>
            <item view="Scope_.list" title="msg://com.genebank.genedatabank.view.scope/scopeListView.title"/>
            <item view="TypeDocuments.list"
                  title="msg://com.genebank.genedatabank.view.typedocuments/typeDocumentsListView.title"/>
        </menu>
        <menu id="settpreservation"
              description="msg://com.genebank.genedatabank/menu_config.settpreservation.description"
              title="msg://com.genebank.genedatabank/menu_config.settpreservation.title">
            <item view="Storage.list" title="msg://com.genebank.genedatabank.view.storage/storageListView.title"/>
        </menu>
        <menu id="setadmin" description="msg://com.genebank.genedatabank/menu_config.setadmin.description"
              title="msg://com.genebank.genedatabank/menu_config.setadmin.title">
            <item view="Country.list" title="msg://com.genebank.genedatabank.view.country/countryListView.title"/>
            <item view="Zonesiruta.list"
                  title="msg://com.genebank.genedatabank.view.zonesiruta/zonesirutaListView.title"/>
            <item view="Countysiruta.list"
                  title="msg://com.genebank.genedatabank.view.countysiruta/countysirutaListView.title"/>
            <item view="Localitysiruta.list"
                  title="msg://com.genebank.genedatabank.view.localitysiruta/localitysirutaListView.title"/>
            <item view="Roadtype.list" title="msg://com.genebank.genedatabank.view.roadtype/roadtypeListView.title"/>
            <item view="Street.list" title="msg://com.genebank.genedatabank.view.street/streetListView.title"/>
            <item view="Partners.list" title="msg://com.genebank.genedatabank.view.partners/partnersListView.title"/>
            <item view="Institute.list" title="msg://com.genebank.genedatabank.view.institute/instituteListView.title"/>
        </menu>
    </menu>
</menu-config>